In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objects as go
import plotly.express as px

In [9]:
iris = px.data.iris()

In [10]:
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1

In [13]:
trace = go.Scatter(
    x = iris.sepal_length,
    y = iris.sepal_width,
    mode = 'markers',
    marker = dict(
        size = 10,
        color = 'rgb(100, 40, 130)',
        symbol = 'y-up-open',
        line = dict(
            width = 2
        )
    )
)

layout = go.Layout(
    title = 'Sepal Length by Sepal Width',
    xaxis = dict(
        title = 'Sepal Length'
    ),
    yaxis = dict(
        title = 'Sepal Width'
    )
)

data = [trace]
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='temp-plot.html')

'temp-plot.html'

In [15]:
import numpy as np

np.random.seed(56)

x_values = np.linspace(0,1,100)
y_values = np.random.randn(100)

In [16]:
trace = go.Line(
    x = x_values,
    y = y_values
)

data = [trace]
fig = go.Figure(data=data)
pyo.plot(fig)

/home/sammy/.conda/envs/newConda/lib/python3.8/site-packages/plotly/graph_objs/_deprecations.py:378: DeprecationWarning:

plotly.graph_objs.Line is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Line
  - plotly.graph_objs.layout.shape.Line
  - etc.

'temp-plot.html'

In [22]:
trace_0 = go.Scatter(
    x = x_values,
    y = y_values,
    mode = 'markers+lines',
    marker = dict(
        symbol = 'pentagon',
        size = 12,
        line = dict(
            width = 2
        )
    )
)

trace_1 = go.Scatter(
    x = x_values,
    y = y_values+10,
    mode = 'markers'
)

data = [trace_0, trace_1]
fig = go.Figure(data=data)
pyo.plot(fig)

'temp-plot.html'

In [23]:
file = r'/home/sammy/Documents/GitHub/Plotly-Dashboards-with-Dash/Data/2018WinterOlympics.csv'
df = pd.read_csv(file)

In [24]:
df

    Rank                NOC  Gold  Silver  Bronze  Total
0      1             Norway    14      14      11     39
1      2            Germany    14      10       7     31
2      3             Canada    11       8      10     29
3      4      United States     9       8       6     23
4      5        Netherlands     8       6       6     20
5      6             Sweden     7       6       1     14
6      7  Republic of Korea     5       8       4     17
7      8        Switzerland     5       6       4     15
8      9             France     5       4       6     15
9     10            Austria     5       3       6     14
10    11              Japan     4       5       4     13
11    12              Italy     3       2       5     10
12    13                OAR     2       6       9     17
13    14     Czech Republic     2       2       3      7
14    15            Belarus     2       1       0      3
15    16              China     1       6       2      9
16    17           Slovakia     1       2       0      3
17    18            Finland     1       1       4      6
18    19      Great Britain     1       0       4      5
19    20             Poland     1       0       1      2
20    21            Hungary     1       0       0      1
21    21            Ukraine     1       0       0      1
22    23          Australia     0       2       1      3
23    24           Slovenia     0       1       1      2
24    25            Belgium     0       1       0      1
25    26              Spain     0       0       2      2
26    26        New Zealand     0       0       2      2
27    28         Kazakhstan     0       0       1      1
28    28             Latvia     0       0       1      1
29    28      Liechtenstein     0       0       1      1

In [25]:
trace = go.Bar(
    x=df.NOC,
    y=df.Total,
    name='Total Medals'
)

layout = go.Layout(
    title='Total Medals in Winter Olympics 2018'
)

data = [trace]
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='temp-plot.html')

'temp-plot.html'