In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.offline as pyo
import plotly.express as px

In [5]:
pd.read_csv('2018WinterOlympics.csv').head(3)

   Rank      NOC  Gold  Silver  Bronze  Total
0     1   Norway    14      14      11     39
1     2  Germany    14      10       7     31
2     3   Canada    11       8      10     29

In [6]:
df = pd.read_csv('2018WinterOlympics.csv')

In [ ]:
df.head